:root {
  --clr-secondary-dark: var(--clr-darkblue, #044488);
  --clr-secondary-bright: var(--clr-brightblue, #0482cb);
  --clr-secondary-light: var(--clr-lightblue, #71bfe9);
  --clr-tertiary-bright: var(--clr-greenbright, #7f9b47);
  --clr-quatrenary-dark: var(--clr-maroonish, #9e3f4e);
  --clr-quatrenary-light: var(--clr-paledpeach, #FFC9B9);
  --clr-quinary-bright: var(--clr-gold, #dcb338);
}

/* .flow a::before {
  content: '';
  background: var(--link-hover-border-color);
  position: absolute;
  z-index: -1;
  top:0;left:0;
  width: 100%; height: 100%;
  opacity: 0;
}
a:hover::before {
    animation: linkbackground .15s ease-out;
}
@keyframes linkbackground {
  0% {scale:0}
  50% {scale:1; opacity: 1;}
  60% {opacity: 1;}
  100% {scale: 1.1;opacity: 0;}  
} */

/* https://piccalil.li/blog/flow-utility/ */
.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.little-to-no-spacing,
.coursework {
  --flow-space: calc(0.1rem + 1vw);
}
.coursework {
  font-size: 0.8em;
}
h2.welcome-intro {
  font-size: 1.1rem;
  text-align: left;
  margin: 1.2em 0 0.2em 0;
  line-height: 1;
}
.welcome {
  font-size: clamp(1.4em, calc(4vw), 2.2em);
}
.intro {
  font-size: clamp(1.2em, calc(3.2vw), 2em);
}
.name {
  font-size: clamp(2rem, calc(5vw), 3.6em);
  letter-spacing: 0.01em;
}
